{% extends 'pakhi-web/base.html' %}

{% load static %}



{% block content %}	
	<!-- header-section-starts -->
	<div class="header" id="home">
		<div class="top-header">
			<div class="container">
			<div class="logo">
				<a href="index.html"><img src="{% static 'images/logo.png' %}" height = 80px width = 130dp alt="" /></a>
			</div>
				<div class="header-top-right">
				<!-- start search
				    <div class="search-box">
					    <div id="sb-search" class="sb-search">
							<form>
								<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
								<input class="sb-search-submit" type="submit" value="">
								<span class="sb-icon-search"> </span>
							</form>
						</div>
				    </div>
					<!--
					<script src="js/classie.js"></script>
					<script src="js/uisearch.js"></script>
						<script>
							new U1ISearch( document.getElementById( 'sb-search' ) );
						</script>
					<!-- //search-scripts -->

				<!-- <a href="cart.html"><i class="cart"></i></a>-->
				</div>
			<div class="navigation">	
			<div>
              <label class="mobile_menu" for="mobile_menu">
              <span>Menu</span>
              </label>
              <input id="mobile_menu" type="checkbox">
				<ul class="nav">
              <li class="active" ><a href="index.html"><font size = 3px>Home</font></a></li>                       
              <li class="dropdown1"><a href="#"><font size = 3px>About</font></a>
                <ul class="dropdown2">
                  <li><a href="products.html">Company Info</a></li>
                  <li><a href="products.html">Team</a></li>
				  <li><a href="products.html">LegalDocument</a></li>
				  <li><a href="products.html">Balance Sheet</a></li>
				  <li><a href="products.html">Production Houses</a></li>
				  <li><a href="products.html">Professional Houses</a></li>
				  <li><a href="products.html">Product Partner</a></li>
                </ul>
              </li>  
		         
		   <li class="dropdown1"><a href="#"><font size = 3px>Support</font></a>
				<ul class="dropdown2">
					  <li><a href="products.html">Commission Chart</a></li>
					  <li><a href="products.html">Complain</a></li>
					  <li><a href="products.html">Testimonials</a></li>
					  <li><a href="products.html">Training</a></li>
					  <li><a href="products.html">Skill Development</a></li>
					</ul>
			   </li>  
   
      
           <li class="dropdown1"><a href="#"><font size = 3px>Project</font></a>
           	<ul class="dropdown2">
                  <li><a href="products.html">Small Direct Selling Plan</a></li>
                  <li><a href="products.html">Product / Services</a></li>
                </ul>
           </li>     

	   <li class="dropdown1"><a href="#"><font size = 3px>Join Us</font></a>
				<ul class="dropdown2">
					  <li><a href="products.html">Membership</a></li>
					  <li><a href="products.html">Product Kit</a></li>
					  <li><a href="products.html">Distributorship</a></li>
					  <li><a href="products.html">Business Builup Kit</a></li>
					</ul>
			   </li>  


	   <li class="dropdown1"><a href="#"><font size = 3px>Clients</font></a>
				<ul class="dropdown2">
					  <li><a href="products.html">Distributor</a></li>
					  <li><a href="products.html">Member</a></li>
					  <li><a href="products.html">Awad</a></li>
					  <li><a href="products.html">Achivement</a></li>
					</ul>
           </li> 		 

	   <li class="dropdown1"><a href="#"><font size = 3px>Online Purchase</font></a>
				
           </li>  		   
           <!-- <li><a href="contact.html">Kit</a></li>-->
            <div class="clearfix"></div>
          </ul>
		</div>			
	 </div>
			</div>
		</div>
		<div class="banner">
           <h1>{{ object }}</h1> 
		<div class="banner-info text-center">
				<i class="shipping"></i>
				<h3>Shopping Place For Girls</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimcidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim</p>
				<a href="products.html">JOIN US</a>
		</div>
	</div>
	</div>
	<div class="content">
		<div class="features-section">
			<div class="features-section-head text-center">
				<h3><span>F</span>eatured Items</h3>
				<p>“this weeks featured products”</p>
			</div>
			<div class="features-section-grids">
				<div class="features-section-grid">
					<img src="{% static 'images/girl.png' %}" alt="" />
					<div class="girl-info">
						<div class="lonovo">
							<div class="dress">
								<h4>Lolona Dress</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut</p>
							</div>
							<div class="priceindollers">
								<h3>$ <span>689</span></h3>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>	
				</div>
			</div>
		</div>
		<div class="container">
			<div class="products-section">
				<div class="products-section-head text-center">
					<h3><span>P</span>roducts</h3>
					<p>“check out our products”</p>
				</div>
				<div class="products-section-grids">
					<ul id="filters" class="clearfix">
						<li><span class="filter active" data-filter="app card icon web"><label class="active"></label>All</span></li>
						<li><span class="filter" data-filter="app"><label></label>Kameez</span></li>
						<li><span class="filter" data-filter="card"><label></label>T-Shirt</span></li>
						<li><span class="filter" data-filter="icon"><label></label>Pant</span></li>
						</ul>
					<div id="portfoliolist">
					<div class="portfolio card mix_all  data-cat="card" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
						     <img src="{% static 'images/pic1.jpg' %}" class="img-responsive" alt="" /><div class="b-wrapper"><div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt=""/></h2>
						  	</div></a>
							<div class="title">
								<div class="colors">
								<h4>Lolona Jeans</h4>
								<p> Colors:
									<ul>
										<a href="#"><li class="color1"></li></a>
										<a href="#"><li class="color2"></li></a>
										<a href="#"><li class="color3"></li></a>
										<a href="#"><li class="color4"></li></a>
									</ul>
								</p>
								</div>
								<div class="main-price">
									<h3><span>$</span>30</h3>
								</div>
								<div class="clearfix"></div>
							</div>
		                </div>
					</div>				
					<div class="portfolio app mix_all  data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
						     <img src="{% static 'images/pic2.jpg' %}" class="img-responsive" alt="" /><div class="b-wrapper"><div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt=""/></h2>
						  	</div></a>
							<div class="title">
								<div class="colors">
								<h4>Lolona Jeans</h4>
								<p> Colors:
									<ul>
										<a href="#"><li class="color1"></li></a>
										<a href="#"><li class="color2"></li></a>
										<a href="#"><li class="color3"></li></a>
										<a href="#"><li class="color4"></li></a>
									</ul>
								</p>
								</div>
								<div class="main-price">
									<h3><span>$</span>30</h3>
								</div>
								<div class="clearfix"></div>
							</div>
		                </div>
					</div>		
					<div class="portfolio web mix_all  data-cat="web" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
						     <img src="{% static 'images/pic3.jpg' %}" class="img-responsive" alt="" /><div class="b-wrapper"><div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt=""/></h2>
						  	</div></a>
							<div class="title">
								<div class="colors">
								<h4>Lolona Jeans</h4>
								<p> Colors:
									<ul>
										<a href="#"><li class="color1"></li></a>
										<a href="#"><li class="color2"></li></a>
										<a href="#"><li class="color3"></li></a>
										<a href="#"><li class="color4"></li></a>
									</ul>
								</p>
								</div>
								<div class="main-price">
									<h3><span>$</span>30</h3>
								</div>
								<div class="clearfix"></div>
							</div>
		                </div>
					</div>				
					<div class="portfolio icon mix_all  data-cat="icon" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
						     <img src="{% static 'images/pic4.jpg' %}" class="img-responsive" alt="" /><div class="b-wrapper"><div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt=""/></h2>
						  	</div></a>
							<div class="title">
								<div class="colors">
								<h4>Lolona Jeans</h4>
								<p> Colors:
									<ul>
										<a href="#"><li class="color1"></li></a>
										<a href="#"><li class="color2"></li></a>
										<a href="#"><li class="color3"></li></a>
										<a href="#"><li class="color4"></li></a>
									</ul>
								</p>
								</div>
								<div class="main-price">
									<h3><span>$</span>30</h3>
								</div>
								<div class="clearfix"></div>
							</div>
		                </div>
					</div>
					<div class="portfolio icon mix_all  data-cat="icon" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
						     <img src="{% static 'images/pic5.jpg' %}" class="img-responsive" alt="" /><div class="b-wrapper"><div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt=""/></h2>
						  	<p class="b-animate b-from-right    b-delay03 "></p></div></a>
							<div class="title">
								<div class="colors">
								<h4>Lolona Jeans</h4>
								<p> Colors:
									<ul>
										<a href="#"><li class="color1"></li></a>
										<a href="#"><li class="color2"></li></a>
										<a href="#"><li class="color3"></li></a>
										<a href="#"><li class="color4"></li></a>
									</ul>
								</p>
								</div>
								<div class="main-price">
									<h3><span>$</span>30</h3>
								</div>
								<div class="clearfix"></div>
							</div>
		                </div>
					</div>
					<div class="portfolio app mix_all  data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
						     <img src="{% static 'images/pic6.jpg' %}" class="img-responsive" alt="" /><div class="b-wrapper"><div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt=""/></h2>
						  	</div></a>
							<div class="title">
								<div class="colors">
								<h4>Lolona Jeans</h4>
								<p> Colors:
									<ul>
										<a href="#"><li class="color1"></li></a>
										<a href="#"><li class="color2"></li></a>
										<a href="#"><li class="color3"></li></a>
										<a href="#"><li class="color4"></li></a>
									</ul>
								</p>
								</div>
								<div class="main-price">
									<h3><span>$</span>30</h3>
								</div>
								<div class="clearfix"></div>
							</div>
		                </div>
					</div>	
<div class="clearfix"></div>					
				</div>
		  <div class="clearfix"></div>
		  <div class="more">
				<div class="seemore">
					<a href="products.html">See More</a>
				</div>
				<div class="allproducts">
					<a href="products.html">All Products</a>
				</div>
				 <div class="clearfix"></div>
		  </div>
		  </div>
		  
		  <!-- script-for-portfolio -->
		  <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
								
<script type="text/javascript" src="{% static 'js/jquery.mixitup.min.js' %}"></script>
	<script type="text/javascript">
	$(function () {
		
		var filterList = {
		
			init: function () {
			
				// MixItUp plugin
				// http://mixitup.io
				$('#portfoliolist').mixitup({
					targetSelector: '.portfolio',
					filterSelector: '.filter',
					effects: ['fade'],
					easing: 'snap',
					// call the hover effect
					onMixEnd: filterList.hoverEffect()
				});				
			
			},
			
			hoverEffect: function () {
			
				// Simple parallax effect
				$('#portfoliolist .portfolio').hover(
					function () {
						$(this).find('.label').stop().animate({bottom: 0}, 200, 'easeOutQuad');
						$(this).find('img').stop().animate({top: -30}, 500, 'easeOutQuad');				
					},
					function () {
						$(this).find('.label').stop().animate({bottom: -40}, 200, 'easeInQuad');
						$(this).find('img').stop().animate({top: 0}, 300, 'easeOutQuad');								
					}		
				);				
			
			}

		};
		
		// Run the show!
		filterList.init();
		
		
	});	
	</script>
	

				</div>
			</div>
			<div class="container">
				<div class="subscribe-section">
					<div class="subscribe text-center">
						<h4>Subscribe To Our Newsletter</h4>
						 <input type="text" class="text" value="Your email..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your email...';}">
						  <input type="submit" value="Subscribe">
					</div>
					<div class="social-icons text-center">
						<a href="#"><i class="facebook"></i></a>
						<a href="#"><i class="twitter"></i></a>
						<a href="#"><i class="linkedin"></i></a>
						<a href="#"><i class="pinterest"></i></a>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="recommand-section">
					<div class="recommand-section-head text-center">
						<h3><span>R</span>ecommended</h3>
						<p>“check out some recommended products also”</p>
					</div>
					<div class="recommand-section-grids">

						<div class="standards">
						<ul class="selectors_wrapper">
						<div class="tags">
								<h3>Tags  <img src="images/tag.png" alt="" /></h3>
							</div>
							<li class="selector active" data-selector="1">Popular</li>
							<li class="selector" data-selector="2">Sales</li>
							<li class="selector" data-selector="3">Seller</li>
							<li class="selector" data-selector="4">Rate</li>
						</ul>
						
						<div class="standard_content">
							<div class="standard active" data-selector="1">
								<div class="tag-grid">
							<div class="portfolio app mix_all  data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
						     <img src="{% static 'images/pic7.jpg' %}" class="img-responsive" alt="" /><div class="b-wrapper"><div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt=""/></h2>
						  	</div></a>
							<div class="r-title">
								<h3>Lolona Bag</h3>
								<h4>$30</h4>
							</div>
		                </div>
					</div>	
					</div>
					<div class="tag-grid">
							<div class="portfolio app mix_all  data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
						     <img src="{% static 'images/pic8.jpg' %}" class="img-responsive" alt="" /><div class="b-wrapper"><div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt=""/></h2>
						  	</div></a>
							<div class="r-title">
								<h3>Jism Watch</h3>
								<h4>$30</h4>
							</div>
		                </div>
					</div>	
						</div>
						<div class="tag-grid">
							<div class="portfolio app mix_all  data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
						     <img src="{% static 'images/pic9.jpg' %}" class="img-responsive" alt="" /><div class="b-wrapper"><div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt=""/></h2>
						  	</div></a>
							<div class="r-title">
								<h3>Sunny Dress</h3>
								<h4>$30</h4>
							</div>
		                </div>
					</div>	
						</div>
						<div class="clearfix"></div>
							</div>
							<div class="standard" data-selector="2">
								<div class="tag-grid">
							<div class="portfolio app mix_all  data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
						     <img src="{% static 'images/pic7.jpg' %}" class="img-responsive" alt="" /><div class="b-wrapper"><div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt=""/></h2>
						  	</div></a>
							<div class="r-title">
								<h3>Lolona Bag</h3>
								<h4>$30</h4>
							</div>
		                </div>
					</div>	
					</div>
						<div class="tag-grid">
							<div class="portfolio app mix_all  data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
						     <img src="{% static 'images/pic9.jpg' %}" class="img-responsive" alt="" /><div class="b-wrapper"><div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt=""/></h2>
						  	</div></a>
							<div class="r-title">
								<h3>Sunny Dress</h3>
								<h4>$30</h4>
							</div>
		                </div>
					</div>	
						</div>
					<div class="tag-grid">
							<div class="portfolio app mix_all  data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
						     <img src="{% static 'images/pic8.jpg' %}" class="img-responsive" alt="" /><div class="b-wrapper"><div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt=""/></h2>
						  	</div></a>
							<div class="r-title">
								<h3>Jism Watch</h3>
								<h4>$30</h4>
							</div>
		                </div>
					</div>	
						</div>
							<div class="clearfix"></div>
							</div>
							<div class="standard" data-selector="3">
						<div class="tag-grid">
							<div class="portfolio app mix_all  data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
						     <img src="{% static 'images/pic9.jpg' %}" class="img-responsive" alt="" /><div class="b-wrapper"><div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt=""/></h2>
						  	</div></a>
							<div class="r-title">
								<h3>Sunny Dress</h3>
								<h4>$30</h4>
							</div>
		                </div>
					</div>	
						</div>
							<div class="tag-grid">
							<div class="portfolio app mix_all  data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
						     <img src="{% static 'images/pic7.jpg' %}" class="img-responsive" alt="" /><div class="b-wrapper"><div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt=""/></h2>
						  	</div></a>
							<div class="r-title">
								<h3>Lolona Bag</h3>
								<h4>$30</h4>
							</div>
		                </div>
					</div>	
					</div>
					<div class="tag-grid">
							<div class="portfolio app mix_all  data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
						     <img src="{% static 'images/pic8.jpg' %}" class="img-responsive" alt="" /><div class="b-wrapper"><div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt=""/></h2>
						  	</div></a>
							<div class="r-title">
								<h3>Jism Watch</h3>
								<h4>$30</h4>
							</div>
		                </div>
					</div>	
						</div>
						<div class="clearfix"></div>
                      </div>
							<div class="standard" data-selector="4">
					<div class="tag-grid">
							<div class="portfolio app mix_all  data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
						     <img src="{% static 'images/pic7.jpg' %}" class="img-responsive" alt="" /><div class="b-wrapper"><div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt=""/></h2>
						  	</div></a>
							<div class="r-title">
								<h3>Jism Watch</h3>
								<h4>$30</h4>
							</div>
		                </div>
					</div>	
						</div>
								<div class="tag-grid">
							<div class="portfolio app mix_all  data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
						     <img src="{% static 'images/pic9.jpg' %}" class="img-responsive" alt="" /><div class="b-wrapper"><div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt=""/></h2>
						  	</div></a>
							<div class="r-title">
								<h3>Lolona Bag</h3>
								<h4>$30</h4>
							</div>
		                </div>
					</div>	
					</div>
						<div class="tag-grid">
							<div class="portfolio app mix_all  data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
						     <img src="{% static 'images/pic8.jpg' %}" class="img-responsive" alt="" /><div class="b-wrapper"><div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt=""/></h2>
						  	</div></a>
							<div class="r-title">
								<h3>Sunny Dress</h3>
								<h4>$30</h4>
							</div>
		                </div>
					</div>	
						</div>
							<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					</div>
				</div>
			</div>
			<div class="contact-section">
					<div class="contact-section-head text-center">
						<h3><span>C</span>ontact Us</h3>
						<p>“let us know your feedbacks and questions”</p>
					</div>
					<div class="contact-form-main">
						<form>
							<label class="span1"></label>
							<input type="text" class="text" value="Name..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name...';}">
							<label class="span2"></label>
							<label class="span3"></label>
							<input type="text" class="text" value="Email..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email...';}">
							<label class="span4"></label>
							<label class="span5"></label>
							<input type="text" class="text" value="Phone..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone...';}">
							<label class="span6"></label>
							<label class="span7"></label>
							<textarea onfocus="if(this.value == 'Message...') this.value='';" onblur="if(this.value == '') this.value='Your Message';" >Message...</textarea>
							<label class="span8"></label>
							<input type="submit" value="">
						</form>
					</div>

			</div>
		</div>
		
		
     <div class="footer" >
			<div class="container">
				<div class="footer-grid">
					<h3>Products</h3>
					<ul class="list1">
					  <li><a href="#">Incense Stick</a></li>
					  <li><a href="#">Tea</a></li>
					  <li><a href="#">Hair Oil</a></li>
					  <li><a href="#">Cotton Week</a></li>
					  <li><a href="#">Sainitory Pad</a></li>
					  <li><a href="#">Tap Roll</a></li>
					  <li><a href="#">Paper Bag</a></li>
					  <li><a href="#">Masala</a></li>
				    </ul>
				</div>
				<div class="footer-grid">
					<h3>Services</h3>
				    <ul class="list1">
					  <li><a href="#">Pan</a></li>
					  <li><a href="#">Income Tax Return File</a></li>
					  <li><a href="#">Gst Registration</a></li>
					  <li><a href="#">Gst Return Filling</a></li>
					  <li><a href="#">Balance Sheet</a></li>
					  <li><a href="#">Project File</a></li>
				    </ul>
				</div>
				<div class="footer-grid">
					<h3>Resources</h3>
					<ul class="list1">
					  <li><a href="#">Contact Us</a></li>
					  <li><a href="#">Member Only</a></li>
					  <li><a href="#">Company University Recorded</a></li>
					  <li><a href="#">Webinars</a></li>
					  <li><a href="#">Product Loan Program</a></li>
					  <li><a href="#">About Us</a></li>
					  <li><a href="#">Catelog</a></li>
				    </ul>
				  </div>
				  <div class="footer-grid">
					<h3>Newsletter</h3>
					<p class="footer_desc">Nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</p>
					<div class="search_footer">
			          <input type="text" class="text" value="Insert Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Insert Email';}">
			          <input type="submit" value="Submit">
			        </div>
			        <img src="images/payment.png" class="img-responsive" alt=""/>
				 </div>
				 <div class="footer-grid footer-grid_last">
					<h3>About Us</h3>
					<p class="footer_desc">Diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,.</p>
                    <p class="f_text">Phone:  &nbsp;&nbsp;&nbsp;00-250-2131</p>
                    <p class="email">Email: &nbsp;&nbsp;&nbsp;<span>info(at)Surfhouse.com</span></p>	
                 </div>
				 <div class="clearfix"> </div>
			</div>
			
	<div class="up-arrow">
			<a class="scroll" href="#home"><img src="images/up.png" alt="" /></a>
		</div>
		</div>
				<div class="footer-social-icons">
					<a href="#"><i class="fb"></i></a>
					<a href="#"><i class="tw"></i></a>
					<a href="#"><i class="in"></i></a>
					<a href="#"><i class="pt"></i></a>
				</div>
				 
         <div class="footer_bottom">
        	<div class="container">
        		<div class="copy">
				   <p>Copyright &copy; 2019 All rights reserved | Designed by  <a href="http://w3layouts.com">  mkp</a></a></p>
			    </div>
				
        	</div>
        </div>
{% endblock %}